@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
 
 
  --white:#FFFFFF;
  
  --primary: #EA580C;
  --blue-gray: #0F172A;
  --blue-gray-500: #64748B;
  --blue-gray-600: #475569;
 

--blue: #2563EB;


 
--ss:12px;
--sm:14px;
--m:16px;
--ms:18px;
--v:20px;
--lg:24px;
--s:40px;
--c:56px;
--t:72px





}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
 
  }


  body {
    font-family: "Roboto";
    background-color: var(--white);
    color:var(--black);
    line-height: 100%;
  }


ul {
  list-style-type: none;
}

a {
  text-decoration: none;

}
 
@media (max-width: 768px) {
  .section{
      width: auto;
  
  }
}

