.slider-container {
  background: var(--colors);
  display: flex;

  padding: 70px;
  width: 100%;
  align-items: center;
  height: 575px;
}
.arrow {
  cursor: pointer;
  color: var(--white);
  margin-right: 24px;
}

.arrow.right {
  color:var(--blue-gray)
}
.testimonial {
  display: flex;
  flex-direction: column;

  gap: 48px;
  width: 528px;
}

.text,
.author {
  font-weight: 400;
  font-size: var(--lg);
  line-height: 160%;
}
.company {
  font-weight: 700;
  font-size: var(--lg);
}
.dots {
  display: flex;
  gap: 8px;
}

.dot {
  width: 9px;
  height: 9px;
  background-color: var(--white);
  border-radius: 50%;
  border: none;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.dot.active {
  width: 32px;
  height: 9px;
  background-color:var(--blue-gray);
  opacity: 1;
  border-radius: 4px;
}

.testimonial-image {
  height: 573px;
  margin-bottom: 85px;
}

.image-placeholder {
  width: 500px;
  height: 650px;
  background-color: #eee;
  border-radius: 16px;
}
@media (max-width: 768px) {
  .slider-container {
    width: 393px;

    padding: 48px 16px;
    flex-direction: column;
    height: 640px;
  }

  .arrow {
    display: none;
  }

  .testimonial {
    width: 361px;
  }

  .text,
  .author,
  .company {
    font-size: var(---ms);
  }
  .testimonial-image {
    position: relative;
    width: 361px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    object-fit: cover;
  }
  .testimonial-image img  {
    position: relative;
    width: 393px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    object-fit: contain;
  }
}
